*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  font-family: 'Open Sans', sans-serif;
  background: #333;
  cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #222;
  color: #fff;
}

.loading .logo {
  width: 22em;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
}

.loading .text {
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

.offline {
  background: url(../images/wifi-off.png) no-repeat center;
  background-size: contain;
  width: 2.5vw;
  height: 2.5vw;
  top: 0.3vw;
  right: 0.5vw;
  position: absolute;
  z-index: 99;
  opacity: .8;
}

.content-main {
  color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.content-top    { display: flex }
.content-side   {
  width:  15vw;
  height: 85vh;
  order: 1;
  background: rgba(0,0,0,0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content-footer { width: 100vw; height: 15vh; }
.content-player {
  width:  85vw;
  height: 85vh;
  overflow: hidden;
  order: 2;
  background: url(../images/logo-player.png) no-repeat center #000;
  background-size: auto 50%;
}

/* --------------- LAYOUTS --------------- */
.layout-1 .content-top    {}
.layout-1 .content-side   { display: none }
.layout-1 .content-player { width: 100vw; height: 100vh; }
.layout-1 .content-footer { display: none }

.layout-2 .content-top    {}
.layout-2 .content-side   { width:  15vw; height: 85vh; order: 1 }
.layout-2 .content-player { width:  85vw; height: 85vh; }
.layout-2 .content-footer { width: 100vw; height: 15vh; }

.layout-3 .content-top    {}
.layout-3 .content-side   { width:  15vw; height: 85vh; order: 3 }
.layout-3 .content-player { width:  85vw; height: 85vh; }
.layout-3 .content-footer { width: 100vw; height: 15vh; }

.layout-4 .content-top    {}
.layout-4 .content-side   { display: none; }
.layout-4 .content-player { width:  100vw; height: 50vh; }
.layout-4 .content-footer { width: 100vw; height: 50vh; }
/* --------------- LAYOUTS --------------- */

/* --------------- CORES --------------- */
.gray   .content-main { background: hsl(  0,  0%, 85%); color: #222; }
.black  .content-main { background: hsl(  0,  0%, 20%); color: #fff; }
.red    .content-main { background: hsl(  0, 55%, 20%); color: #fff; }
.blue   .content-main { background: hsl(226, 55%, 20%); color: #fff; }
.green  .content-main { background: hsl(110, 55%, 20%); color: #fff; }
.yellow .content-main { background: hsl(35,  73%, 25%); color: #fff; }
/* --------------- CORES --------------- */

/* --------------- PLAYER --------------- */
.content-player .midia-main,
.content-player .feed-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.content-player .feed-imagem,
.content-player .midia-imagem {
  width: 100%;
  height: 100%;
  /*background-size: cover;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  animation: zoom-image 30s;
}

@keyframes zoom-image {
  0%   { transform: scale(1) }
  100% { transform: scale(1.1) }
}

.content-player .midia-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content-player .feed-info {
  height: 7vh;
  display: flex;
  justify-content: space-between;
}

.content-player .feed-fonte {
  width: 5vw;
  height: 100%;
  flex: 0 0 5vw;
  background-size: cover;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
}

.content-player .feed-categoria {
  text-align: right;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.8vw;
  padding: 0 1.2vw;
  border-bottom-right-radius: 1vw;
  display: flex;
  align-items: center;
  line-height: 1;
  text-shadow: 0px 2px 4px #000;
  transition: transform 0.3s;
  transform: translateX(0);
  position: relative;
  z-index: 1;
}

.content-player .player-item.transicao .feed-categoria {
  transform: translateX(-200%);
}

.content-player .feed-out {
  flex: 1;
}

.content-player .feed-titulo {
  width: 100%;
  color: #fff;
  padding: 1.2vw;
  font-size: 2.5vw;
  line-height: 1.1;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: 0px 2px 4px #000;
  transform: translateY(0);
  transition: transform 0.3s;
}

.content-player .player-item.transicao .feed-titulo {
  transform: translateY(100%);
}

.content-player .feed {
  width: 100%;
  height: 100%;
}

.content-player .content-feed {
  background-image: url('../images/no-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-player .clima {
  width: 100%;
  height: 100%;
}

.content-player .player-item {
  opacity: 1;
  transition: opacity 0.25s;
  width: 100%;
  height: 100%;
}
.content-player .player-item.transicao { opacity: 0 }
/* --------------- PLAYER --------------- */

/* --------------- LATERAIS --------------- */
.content-side > * { padding: 1.25vh 1.25vw; }

.content-side .item-hora {
  text-align: center;
}

.content-side .item-hora .dia {
  font-size: 1.5em;
  line-height: 1;
}
.content-side .item-hora .dia-semana {
  font-size: 1.5em;
  font-weight: 600;
}
.content-side .item-hora #hora {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.2vw;
}

.content-side .item-weather {
  display: flex;
  flex-direction: column;
  background: #154e6a;
  background: radial-gradient(circle at 25.5% 33.5%, hsla(199, 67%, 35%, 1) 0%,  hsla(199, 67%, 30%, 1) 50%, rgba(23,86,117,1) 75%, rgba(21,78,106,1) 100%);
  padding: 1vh .5vw 1.75vh;
  color: #fff;
}

.content-side .item-weather .cidade {
  text-align: center;
  font-size: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  font-weight: 500;
}

.content-side .main-weather,
.content-side .info-weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-side .info-weather {
  font-size: 0.9vw;
}

.content-side .item-weather .icone-weather {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 5vw;
  height: 5vw;
}

.content-side .item-weather .temperatura-weather {
  text-align: center;
}

.content-side .item-weather .temperatura-weather span {
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 1;
}

.content-side .item-weather .temperatura-weather .min-max {
  font-size: 1em;
  line-height: 1;
}

.content-side .item-weather .descricao-weather {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  padding-bottom: 0.35em;
}

.content-side .item-weather .proximos_dias {
  display: flex;
  text-align: center;
  margin: 0.5em -0.5vw -1.75vh;
}

.content-side .item-weather .proximos_dias > * {
  flex: 1;
  padding: .3em;
  background: rgba(0,0,0,0.1);
}

.content-side .item-weather .proximos_dias > *:nth-child(2n+1) {
  background: rgba(0,0,0,0.2);
}

.content-side .item-weather .proximos_dias .min-max {
  display: flex;
}

.content-side .item-weather .proximos_dias .min-max > * {
  flex: 1;
}

.content-side .item-weather .proximos_dias .min-max .desc {
  font-size: .8em
}

.content-side .item-finance {
  padding: 0;
  color: #fff;
}

.content-side .item-finance > * {
  display: flex;
  line-height: 1;
  justify-content: space-between;
  align-items: center;
}
.content-side .item-finance > * .titulo {
  font-size: 1vw;
  display: flex;
  font-weight: 500;
  /*align-items: center;*/
  align-items: stretch;
  text-transform: uppercase;
}
.content-side .item-finance > * .titulo > * {
  padding: .4em 0 .4em 0.3em;
}
.content-side .item-finance > * .titulo:before {
  content: '';
  display: block;
  width: 2.3vw;
  /*height: 3vw;*/
  background-color: rgba(0,0,0,0.15);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.3vw;
}
.content-side .item-finance > * .variacao {
  font-size: .8em;
  margin-left: .4em
}
.content-side .item-finance > * .valor {
  font-size: 2.2em;
  font-weight: 500;
}
.content-side .item-finance > * .valor .sifrao {
  font-size: .5em;
  margin-right: .2em;
}
.content-side .item-finance .USD { background: #187545; }
.content-side .item-finance .USD .titulo:before { background-image: url('../images/finance/dolar.png'); }
.content-side .item-finance .EUR { background: #146c3b; }
.content-side .item-finance .EUR .titulo:before { background-image: url('../images/finance/euro.png'); }
.content-side .item-finance .BTC { background: #ad670c; }
.content-side .item-finance .BTC .titulo:before { background-image: url('../images/finance/bitcoin.png'); }
.content-side .item-finance .IBOVESPA { background: #1b5e6e; }
.content-side .item-finance .IBOVESPA .titulo:before { background-image: url('../images/finance/ibovespa.png'); }
.content-side .item-finance .NASDAQ { background: #165261; }
.content-side .item-finance .NASDAQ .titulo:before { background-image: url('../images/finance/nasdaq.png'); }

.content-side .item-anuncie {
  font-size: 2em;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  padding: 0;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.content-side .item-anuncie .telefone {
  font-size: 1.3em;
  letter-spacing: -1px;
}
/* --------------- LATERAIS --------------- */

/* --------------- FOOTER --------------- */
.content-footer {
  display: flex;
  align-items: center;
}

.content-footer .content-logo {
  flex: 1;
  width: 15vw;
  height: 100%;
  padding: 1.8vh 1.25vw;
  max-width: 15vw;
  position: relative;
}

.content-footer .content-logo .logo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content-footer .content-logo:before {
  content: '';
  height: 80%;
  width: 0.2em;
  background-color: rgba(255,255,255, 0.3);
  position: absolute;
  top: 10%;
  right: -0.1em;
}

.content-footer .content-logo.black:before {
  background-color: rgba(0,0,0, 0.3);
}

.content-footer .content-mensagem {
  flex: 1;
  overflow: hidden;
  max-width: 85vw;
  max-height: 100%;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
}

.content-footer .content-mensagem .titulo {
  font-size: 1.6vw;
  font-weight: 700;
  padding-bottom: 0.6vw;
  line-height: 1;
}

.content-footer .content-mensagem .mensagem {
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 1.2;
}
/* --------------- FOOTER --------------- */
